.nav-item .nav-link{
    color:#263153;
}

.btn-navbar{
    background-color: #2500f9;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
}


#titulo{
    padding-top: 150px;
}
#titulo h1{
    padding-top: 10px;
    color: #242f51;
    font-size: 55px;
    font-weight: bold;
}
#titulo p {
    padding-top: 10px;
    color: #6d6f73;
}
#titulo a{
    text-decoration: none;
    color: #3e1ff9;
}

#background-menu{
    background-image: url(./img/Layer\ 5.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#backgorund-menu-bolinhas{
    background-image: url(./img/Vector\ Smart\ Object2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#segunda-secao{
    padding-top: 80px;
    margin-left: 50px;
}

#titulo-segunda-secao{
    padding-top: 120px;
}
#titulo-segunda-secao h3{
font-size: 30px;
color: #263153;
}
#titulo-segunda-secao p {
    color: #6d6f73;
}

#titulo-terceira-secao{
    padding-top: 100px;
    
}

#titulo-terceira-secao h4{
    color: #263153;
    font-weight: bold;
    font-size: 25px;
}
#titulo-terceira-secao p{
    color: #6d6f73;
}

#quarta-secao h5{
    color: #242f51;
    
}
#quarta-secao p {
    color: #6d6f73;
}

#quinta-secao h5{
    color: #242f51;
    
}
#quinta-secao p {
    color: #6d6f73;
}

#titulo-quinta-secao{
    padding-top: 100px;

}

#titulo-quinta-secao h2{
    color: #242f51;
}
#titulo-quinta-secao p{
    color: #6d6f73;
}

.accordion-body{
    background-color: #f5f7fa;
}

.accordion-button{
    color:#242f51 !important;
    background-color: #f5f7fa !important;
}
.accordion button{
    color:#242f51;
    font-weight: bold;    
    background-color: #f5f7fa;
    
}
.accordion p{
    color:#6d6f73;
    
}

#titulo-download{
    padding-top: 250px;
    padding-bottom: 100px;
  
}
#titulo-download h2{
color: #242f51;
}
#titulo-download p{
    color: #6d6f73;
}


#background-download{
    
  
    background-image: url(./img/Vector\ Smart\ Object4.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    
    
}


#backgorund-footer{
    height: 500px;
    background-color: #09142e;
}
.menu-footer .nav-link {
   color: #fff;
}

.menu-footer .nav-link:hover {
    color: rgb(231, 177, 0);
 }
.logos-footer svg{
    color: #273043;
}

#copy{
    color: #384156;
}